.progress-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.progress-ring {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 1;
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
