.step {
  color: #84909a;
  background: #eaecee;
}
.step_active {
  color: #fff !important;
  background: #fb3d27 !important;
}
.order_active{
  display: flex !important;
}
.btn_active{
  background: #fb3d27;
  color: #fff;
}
